.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secondary-bg {
    background-color: #FFF8F3;

}
.text-primary {
    color:#FD6E0A;
}
.dark-1 {
    color:#181818
}
.dark-2 {
    color:#474747;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
}
.section-description {
    font-size: 18px;
    color:#757575;
}

.btn {
    background-color: #FD6E0A;
    font-weight:bold;
    color:white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
/* header */
.header {
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-size:contain     ;
    background-repeat:no-repeat;
    background-position: top left, bottom right;
}
/* Nav Styles */
nav {
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:0px 230px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
 /* Banner styles */
 .banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
 }
 .banner-greetings {
    font-size: 45px;
    font-weight: 600;
 }

 .banner-title {
    font-weight: bold;
    font-size: 85px;
 }
 .banner-desciption {
    font-size: 18px;
    font-style:italic;
 }
 .rakib {
    width: 580px;
 }
/* main style */
main {
    max-width: 1140px;
    margin:0 auto;

}

 /* About Style */
 main section {
    margin-top: 130px;
    margin-bottom:130px;
 }
 .about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
 }
 .about-items {
    display:flex;
    justify-content: space-around;
 }
 .about-item{
    text-align: left;

 }
 .item-description{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
 }

 /* What I Do */
 .skills {
    text-align: center;
 }

 /* skill cards */
.skills-container{
    display: flex;
    gap: 24px;
    text-align: left;
}
.skill{
    box-shadow: 0px 6px 50px 0px lightgray;
    border-radius: 5px;
    padding:33px;
}
.skil {
    display: flex;
}


/* resume section */
.resume-container {
    display: flex;
    gap:24px;
    margin-bottom: 20px;
}
.experience-description {
    color: #757575;
    font-size: 20px;
}
.text-center {
    text-align: center;
}

/* footer styles */

footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column {
    width:50%;

}
footer input [type="text"],footer input [type="email"],footer textarea
{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;


}